html{
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    height: 14em;
    background: url(../img/croissants_banner.jpg) no-repeat center;
    background-size: cover;    
}

header #menu{
    background-color: brown;

}

header #menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 11px;
}

header #menu ul li a{
    text-decoration: none;
    border: 1px solid orange;
    margin-left: 20px;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    color: orange;
}

header #menu ul li a:hover{
    color: white;
    border: 1px solid white;
}

#logo{
    position: absolute;
    float: left;
    width: 150px;
    padding: 25px;
}

 #name #black{
    padding-left: 39%;
    padding-top: 55px;
}

 header #name p{
    color: white;
    margin-left: 400px;
    font-weight: bold;
}

main #khung_tong{
    border: 2px solid orange;
    border-radius: 10px ;
    width: 65%;
    margin: 10px 1%;
    float: left;
}

main #khung_tong .tua-de{
    margin-left: 10px;
    padding-top: 10px;    
}

main .khung{
    padding: 10px;
}

main #khung_tong .de-khung1{
    border-top: 2px solid rgb(168, 58, 58);
    border-left: 2px solid rgb(168, 58, 58);
}

main .khung img {
    float: left;
}

main .khung h2{
    clear: both;
}


main #khung-right{
    width: 31%;
    height: 300px;
    border: 2px solid green;
    float: right;
    margin: 10px 1%;
    border-radius: 10px;
    border-left: 2px dotted;
}

