*{
    margin: 0;
    padding: 0;
}

#layout{
    display: grid;
    grid-template-rows: 14em auto 100px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main links"
    "footer footer footer";
}
#header{
    grid-area: header;
}

#header{
    background: url(../img/croissants_banner.jpg) no-repeat center;
    background-size: cover;    
    
}

#header ul{
    background-color: brown;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 11px;
}

#header a{
    text-decoration: none;
    border: 1px solid orange;
    margin-left: 20px;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    color: orange;
}

#header a:hover{
    color: white;
    border: 1px solid white;
}

#logo{
    position: fixed;
    float: left;
    width: 145px;
    padding: 25px;
}

#name #black{
    padding-left: 39%;
    padding-top: 55px;
}

#header p{
    color: white;
    margin-left: 400px;
    font-weight: bold;
}
#main{
    grid-area: main;
    margin: 2% 3%;
    border: 2px solid orange;
    border-radius: 10px ;
}


#main .tua-de{
    margin-left: 10px;
    padding-top: 10px;    
}

#main .khung{
    padding: 10px;
}

#main .de-khung1{
    border-top: 2px solid rgb(168, 58, 58);
    border-left: 2px solid rgb(168, 58, 58);
}

#main .khung img {
    float: left;
}

#main .khung h2{
    clear: both;
}


#aside{
    grid-area: links;
    margin: 6% -2%;
}

#aside h2{
    border: 1px solid orange;
    border-radius: 10px;
    background-color: orange;
}

#footer{
    grid-area: footer;
    background-color: brown;
    clear: both;
    color: white;
}

